name: Terraform Pre-Merge Checks

on:
  pull_request:
    branches:
      - main

jobs:
  pre-merge:
    runs-on: ubuntu-latest

    container:
      image: miradeeba766/iac-ci:1.14.6

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform Format
        run: terraform fmt -recursive -check

      - name: Terraform Init (no backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: TFLint
        run: |
          tflint --init
          tflint

      - name: Gitleaks
        run: gitleaks detect -s . -r gitleaks.json
